
<%= link_to "New Detail", new_detail_path%>
<hr>
<%@details.each do |detail|%>
	<ul>
		<li>
			<%= link_to detail.title, detail_path(detail)%>| <%= link_to "Edit Detail", edit_detail_path(detail)%> | <%= link_to "Destroy", detail_path(detail), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?" 
              } %> 
		</li>
			
	</ul>
<%end%>

<div>
<!-- app/views/layouts/application.html.erb or any view file where you want the button -->
<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

</div>
